body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-bar {
    /* width: 90%; */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-card {
    flex: 1 0 calc(33% - 10px);
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

#pokemon-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
